{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

    <h1>Toutes les catégories</h1>
    {% for category in categories %}
        <div>
            <a href="{{ path('category_show', {categoryName: category.name}) }}"><h3>{{ category.name }}</h3></a>
        </div>
    {% endfor %}
{% endblock %}
